*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: 300;
}


.main{
    /* width: ; */
  width: 50%;
margin: 100px 400px;
    background: gray;
padding: 3em 1em;
border-radius: 1rem;
box-shadow: 0 1rem 1rem  -0.7rem rgba(0,0,0,0.4);


}

input{
    cursor: pointer;
}
.next,.submit, .btn{
    padding: 1rem 3rem;
    outline: none;
    font-size: 2rem;
    font-size: 400;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color:rgb(40, 97, 204) ;
    margin-top: 1.3rem;
    border-radius: 10px;
}


.result{
    display: none;
}
.wa{
    font-size: 1.5rem;
    margin-top:5px ;
    background-color: gray;
    border: none;
}
.que{
    font-size: 3rem;
}
.question{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 10px;
}